/*============================================================================*/
/*=================== created 02-02-2026 | SDN: 96957 Gmik ==================*/
/*==========================================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    /*== Background Colors ==*/
    --colorBackground: #C6A85A;
    --colorCardBackground: #2C3E50;
    
    /*== Text Colors ==*/
    --colorText: #ffffff;
    --colorTextDark: #000000;
    
    /*== Primary Colors ==*/
    --colorPrimary: #0F1B2D;
    --colorSecondary: #3A4E63;
    
    /*== Accent Colors ==*/
    --colorBorder: #9e7b52;
    --colorAccent: #725e47;
    --colorHeart: #ff3d3d;
    --colorHover: #46321e;   
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    background: var(--colorBackground);
    color: var(--colorText);
    overflow-x: hidden;

    background: linear-gradient(rgba(0, 0, 0, 0.5)), url("../Img/GameWorldBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0;
}


/*============================================================================*/
/*============================= Header Styling ==============================*/
/*==========================================================================*/
.header {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--colorPrimary);
    backdrop-filter: blur(20px);
    border-bottom: 4px solid var(--colorBorder);
    padding: .5rem 5%;
    z-index: 1000;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

/*============================================================================*/
/*============================== Logo Styling ===============================*/
.headerLogo {
    display: flex;
    align-items: flex-end;
    gap: 0.75rem;
}

.headerLogo a {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    text-decoration: none;
    color: var(--colorText);
    transition: opacity 0.3s ease;
}

.headerLogo a:hover {
    opacity: 0.6;
}

.LogoImageV1 {
    height: auto;
    width: 6rem;
    background-color: var(--colorPrimary);
}

.LogoImageV2 {
    height: auto;
    width: 17rem;
    background-color: var(--colorPrimary);
}

/*============================================================================*/
/*=========================== socialmenu Styling ============================*/
/*==========================================================================*/
.socialMenu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    list-style: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

.socialMenu ul li a {
    position: relative;
    color: var(--colorBackground);
    background-color: var(--colorPrimary);
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 4px;
    font-weight: 500;
    padding: 0.5rem 1rem;
}

.socialMenu ul li a::after,
.socialMenu ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--colorBorder);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.socialMenu ul li a::before {
    top: -5px;
    transform-origin: left;
}

.socialMenu ul li a:hover::after,
.socialMenu ul li a:hover::before {
    transform: scaleX(1);
}


/*============================================================================*/
/*============================ category Styling =============================*/
/*==========================================================================*/

nav{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navMenu {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--colorPrimary);
    border: 2px solid var(--colorBorder);
}

.navMenu li {
    flex: 1;               
    text-align: center;  
}

.navMenu li a {
    display: flex;             
    align-items: center;       
    justify-content: center;   
    position: relative;
    display: block;        
    color: var(--colorText);
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem;          
}

.navMenu li a img {
    height: 25px;
    width: 25px;
    vertical-align:text-bottom;
    margin-right: 0.5rem;
}

.navMenu li a::after {
    content: "";
    position: absolute;
    bottom: 5px;        
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.navMenu li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: #ffffff;
}

.navMenu li a:hover::after {
    width: 50%;
}

.navMenu li a.active {
    background-color: rgba(255, 255, 255, 0.15);
}

.navMenu li a.active::after {
    width: 50%;
}

/*============================================================================*/
/*============================== main Styling ===============================*/
/*==========================================================================*/
.heroSection {
    text-align: center;
    padding: 70px 20px;
    margin: 20px auto;
    max-width: 800px;
    min-height: fit-content;
    color: var(--colorBackground);
}

.heroTitle {
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px var(--colorAccent);
}

.heroSubtitle{
    font-size: 1.2rem;
}

/*============================================================================*/
/*============================== game Styling ===============================*/
/*==========================================================================*/

.cardSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 3rem auto;
    max-width: 1200px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: var(--colorBackground);
    box-shadow: var(--shadow);
    border: 2px solid var(--colorBorder);
    border-radius: 12px;
    overflow: hidden;
}

/*============================================================================*/
/*=========================== Card image section ============================*/
.cardImage {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cardImage img {
    max-width: 90%;
    max-height: 90%;
}

.categoryLogo {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 10;
}

.categoryLogo img {
    width: 35px;  
    height: auto;
}

.wishlistButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    color: var(--colorText);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.3rem;
    transition: transform 0.2s ease;
    width: auto;
    margin: 0;
    z-index: 10;
}

.wishlistButton:hover {
    transform: scale(1.15);
}

.wishlistButton.active i {
    color: var(--colorHeart);
}

.wishlistButton.active i::before {
    content: "\f004";
    font-weight: 900;
}

.cardPrice {
    position: absolute;
    bottom: 10px;
    right: -5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--colorText);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: .9rem;
    border: 2px var(--colorText);
    border-style: dashed dashed solid;
    font-weight: bold;
}


/*============================================================================*/
/*=========================== Card content section ==========================*/
.cardContent {
    background-color: var(--colorPrimary);
    padding: 1rem;
}

.cardTitle {
    max-width: 80%;
    min-height: 50px;
    font-size: 1rem;
    margin: 0 auto 1rem auto;
    display: flex;
    justify-content: center; 
    align-items: center;     
    text-align: center;
}

.cardButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cardButton{
    width: 100px;
    padding: .7rem 1rem;
    color: var(--colorText);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 500;
}

.cardButton {
    border: 2px solid var(--colorBorder);
    background-color: var(--colorPrimary);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.cardButton span i span{
    opacity: 0;
}

/*============================================================================*/
/*=============================  Sweep to right =============================*/
.addToCartButton {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: Var(--shadow);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.addToCartButton:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorBackground);
    border-radius: 8px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.addToCartButton:hover, 
.addToCartButton:focus, 
.addToCartButton:active {
    color: var(--colorText);
}

.addToCartButton:hover:before, 
.addToCartButton:focus:before, 
.addToCartButton:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/*============================================================================*/
/*=============================  Sweep to left ==============================*/
.buyNowButton{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: Var(--shadow);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.buyNowButton:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorBackground);
    border-radius: 8px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.buyNowButton:hover,
.buyNowButton:focus,
.buyNowButton:active {
    color: var(--colorText);
}

.buyNowButton:hover:before,
.buyNowButton:focus:before,
.buyNowButton:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/*============================================================================*/
/*============================= contact Styling =============================*/
/*==========================================================================*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: max-content;
    margin: 2rem auto;
}

.formContainer{
    padding: 2em;
    border: 2px solid var(--colorBorder);
    border-radius: 12px;
    box-shadow: 4px 4px 12px var(--colorAccent);
    backdrop-filter: blur(10px);
    width: 40%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

form h1{
    text-align: center;
    margin-bottom: 1.5rem;
    text-shadow: 0px 2px 8px var(--colorAccent);
}

.mediaContact{
    background: var(--colorPrimary);
    padding: 1.5rem;
    border-radius: 8px;
    border: 2px solid var(--colorBorder);
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}   

.socials ul{
    display: flex;
    gap: 1.2rem;
    padding: 0;
    margin: 0;
}

.socials ul li{
    list-style: none;
}

.socials ul li a{
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 55px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    color: var(--colorText);
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
    border: 3px solid var(--colorBorder);
    z-index: 1;
}

.socials ul li a .icon{
    position: relative;
    transition: .5s;
    z-index: 3;
}

.socials ul li a:hover .icon{
    color: var(--colorText);
    transform: rotateY(360deg);
}

.socials ul li a:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.formContact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .7rem;
    background: var(--colorCardBackground);
    border-radius: 8px;
    padding: 2rem;
    border: 2px solid var(--colorBorder);
}

.formContact input{
    padding: 0.8em;
    border: 2px solid var(--colorBorder);
    background: rgba(0, 0, 0, 0.5);
    color: hsl(44, 65%, 52%);
    letter-spacing: 1px;
}

.formButtons{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
}

.formButtons button{
    flex: 1;
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    min-height: 40px;
    border-radius: 8px;
    border: 1px solid var(--colorBorder);
    color: var(--colorText);
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
        var(--angle),
        var(--c1),
        var(--c2) 51%,
        var(--c1)
    );

    background-size: 200% 100%;
    background-position: var(--start, 0%) 0;

    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.formButtons button:hover {
    background-position: var(--end, 100%) 0;
}

#submitButton {
    --c1: var(--colorPrimary);
    --c2: var(--colorBackground);

    --angle: 90deg;

    --start: 0%;
    --end: 100%;
}

#resetButton {
    --c1: var(--colorPrimary);
    --c2: var(--colorBackground);

    --angle: 90deg;

    --start: 100%;
    --end: 0%;
}

/*============================================================================*/
/*============ Different background colors for each social media ============*/
.socials ul li a:hover:before{
    top: 0;
}

.socials ul li:nth-child(1) a:before{
    background: #db4437; /* Google Red */
}

.socials ul li:nth-child(2) a:before{
    background: #1877F2 ; /* Facebook Blue */
}

.socials ul li:nth-child(3) a:before {
    background: #6e5494; /* GitHub Purple */
}

.socials ul li:nth-child(4) a:before {
    background: #0a66c2 ; /* LinkedIn Blue */
}


/*============================================================================*/
/*=============================== Cart Styling ==============================*/
/*==========================================================================*/

.cartSection{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    width: 95%;
}

.cartTableWrapper{
    border-radius: 12px;
    overflow-y: auto;
}

.cartTable {
    width: 100%;
    border-collapse: collapse;
    background: var(--colorCardBackground);
    min-width: 700px;
}

.cartTable thead{
    background: var(--colorPrimary);
    position: sticky;
    top: 0;
    z-index: 100;
}

.cartTable thead tr th{
    padding: 1rem;
    text-align: left;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--colorBorder);
}

.cartTable tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.2s ease;
}

.cartTable tbody td{
    padding: 1rem;
    border-bottom: 1px solid var(--colorBorder);
}

.productCell{
    display: flex;
}

.cartTable tbody td:last-child{
    text-align: center;
}

.cartTable tbody td p{
    margin: auto 10px;
}

.quantityForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.quantityForm .updateButton{
    width: 40%;
}

.quantityInput {
    width: 40%;
    padding: 0.7rem;
    border-radius: 6px;
    border: 1px solid var(--colorBorder);
    background: var(--colorPrimary);
    color: var(--colorText);
}

.cartButton {
    height: auto;
    padding: .5rem 1rem;
    font-size: .9rem;
    border-radius: 8px;
    border: 1px solid var(--colorBorder);
    color: var(--colorText);
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;

    background: linear-gradient(
        90deg,
        var(--c1, var(--colorPrimary)),
        var(--c2, var(--colorBackground)) 51%,
        var(--c1, var(--colorPrimary))
    );
    background-size: 200% 100%;
    background-position: var(--x, 0%) 0;

    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.cartButton:hover {
    --x: 100%;
}

.buttonRemove {
    --c1: var(--colorBackground);
    --c2: var(--colorPrimary);
}

.buttonUpdate {
    --c1: var(--colorBackground);
    --c2: var(--colorPrimary);
}

.buttonOrder {
    --c1: var(--colorBackground);
    --c2: var(--colorPrimary);
}


/*============================================================================*/
/*=============================== About us CSS ==============================*/
/*==========================================================================*/
.aboutPage{
    max-width: 1200px;
    margin: 60px auto 3rem auto;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
}

.aboutPage section{
    margin-bottom: 3rem;
}

.aboutPage section h2{
    color: var(--colorBackground);
    margin-bottom: 1rem;
    border-left: 5px solid var(--colorBorder);
    padding-left: 1rem;
}

.aboutPage section p{
    margin-bottom: 2rem;
    color: var(--colorBorder);
}

.aboutPage section article {
    backdrop-filter: blur(10px);
    border: 2px solid var(--colorBorder);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 2px 12px var(--colorAccent);
}

.aboutPage section article h3 {
    color: var(--colorBackground);
    margin-bottom: 10px;
}

.aboutPage section article p {
    color: var(--colorBorder);
}

.aboutPage aside{
    position: sticky;
    top: 120px;
    align-self: start;
}

.aboutPage aside .sideCard{
    background-color: var(--colorPrimary);
    border: 2px solid var(--colorBorder);
    color: #fff;
    border-radius: 10px;
    padding: 28px;
}

.aboutPage aside #sideCard1{
    margin-bottom: 14px;
}

.aboutPage aside .sideCard .teamCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}


.aboutPage aside .sideCard h3{
    color: #fff;
    margin-bottom: 1rem;
}

.aboutPage aside .sideCard p{
    line-height: 1.8;
    color: #fff;
    text-decoration: none;
}


/*============================================================================*/
/*============================== footer Styling =============================*/
/*==========================================================================*/
footer {
    color: var(--colorText);
    text-align: center;
    padding: 1rem 0;
    margin-top: 26vh;
}

::-webkit-scrollbar{
    display: none;
}       